<html>
<head>

    <style>
        
        p {
            color: blue; /* Couleur du texte en bleu */
        }

        h2 {
            background-color: yellow; /* Fond jaune */
        }
    </style>
</head>
<body>
    <article>
        <h1>Mon article</h1>
        <section>
            <h2>Première section</h2>
            <p>Premier paragraphe</p>
        </section>
        <section>
            <h2>Deuxième section</h2>
            <p>Deuxième paragraphe</p>
            <p>Troisième paragraphe</p>
        </section>
    </article>
</body>
</html>
