<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mon CV</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='chat.jpg') }}" alt="Photo de Profil">
        <h1>Rabiaa MOUNAJI AMARIRE</h1>
        <p>Systèmes et Réseaux informatiques</p>
        <p>Certifié CCNA 200.301. Toujours à la recherche de nouveaux défis !</p>
    </header>

    <section>
        <h2>Expériences professionnelles</h2>
        <ul>
            <li>Technicien en informatique chez SIAAP (juin-juiellet 2024)</li>
            <li>Agent Back-Office et support chez TELUS INTERNATIONAL (2019 - 2024)</li>
        </ul>
    </section>

    <section>
        <h2>Formations</h2>
        <ul>
            <li>Licence en Informatique, Université de Paris-Nanterre (2024-2025)</li>
            <li>BTS Systèmes et réseaux informatique, IPREC de Paris (2023)</li>
        </ul>
    </section>

    <section>
        <h2>Compétences</h2>
        <ul>
            <li>langage de programmation(python, Javascript, bash)</li>
            <li>Système (windows, linux)</li>
            <li>Réseau et l'infrastructures sécurisés</li>
        </ul>
    </section>
</body>
</html>

