<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page avec titres</title>
</head>
<body>
    <h1>Titre de niveau 1</h1>
    <h2>Titre de niveau 2</h2>
    <h3>Titre de niveau 3</h3>
    <h3>Titre de niveau 3</h3>
    <h2>Titre de niveau 2</h2>
    <h1>Titre de niveau 1</h1>

    <p>
        <b>Texte en gras</b>, <i>texte en italique</i>, <u>texte souligné</u>
    </p>

    <p>
        <a href="actualite.html">lien vers l'actualite</a>.
    </p>
    <p>
        Ecrivez-moi à <a href="mailto:spastore2@free.fr">spastore2@free.fr</a>.
    </p>
    <h1>Liste des items:</h1>

<ol>
    <li>item 1 :
    </li>
    <li>item 2 :
        <ul>
            <li>element 1</li>
            <li>element 2</li>
            <li>Appartement</li>
        </ul>
    </li>
    <li>item 3 :
    </li>
</ol>	
    
</body>
</html>
