<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page avec titres</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            border: 1px solid black;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Titre de niveau 1</h1>
    <h2>Titre de niveau 2</h2>
    <h3>Titre de niveau 3</h3>
    <h3>Titre de niveau 3</h3>
    <h2>Titre de niveau 2</h2>
    <h1>Titre de niveau 1</h1>

    <p>
        <b>Texte en gras</b>, <i>texte en italique</i>, <u>texte souligné</u>
    </p>

    <p>
        <a href="actualite.html">lien vers l'actualite</a>.
    </p>
    <p>
        Ecrivez-moi à <a href="mailto:spastore2@free.fr">spastore2@free.fr</a>.
    </p>
    
    <p>Liste des items:</p>

<ol>
    <li>item 1 :
    </li>
    <li>item 2 :
        <ul>
            <li>element 1</li>
            <li>element 2</li>
        </ul>
    </li>
    <li>item 3 :
    </li>
</ol>	

    <table>
        <tr>
            <td>un tableau</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>à 6</td>
            <td>cases</td>
        </tr>
    </table>
    
    <p>Une liste</p>
    <ol>
        <li>premier point
            <ul>
                <li>rubrique 1</li>
                <li>rubrique 2</li>
            </ul>
        </li>
        <li>2e point</li>
        <li>3e point
            <ul>
                <li>rubrique 1</li>
                <li>rubrique 2</li>
            </ul>
        </li>
    </ol>

 
    <table>
        <tr>
            <th>un autre tableau</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td rowspan="3"></td>
            <td></td>
            <td rowspan="3"></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>

</body>
</html>
